# Core dependencies
python-telegram-bot==21.0.1
python-dotenv==1.0.1

# LangChain and AI
langchain-ollama==0.2.1
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.29
# PDF processing
pypdf==5.1.0

# Vector store and embeddings
faiss-cpu==1.9.0.post1
langchain-huggingface==0.1.2
sentence-transformers==3.3.1

# Additional dependencies
tiktoken==0.8.0
boto3==1.35.80
numpy<2.0.0
tqdm==4.66.5